.content {
  max-width:1500px;
  margin: auto;tes

  h2 {
    color: #2d6b00;
  }

  label {
    color:#5fa06b;;
    font-weight: bold;
  }

  .follo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  
}